.dt-container {
  padding: 15px 0;

  &-actions {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 10px;
    margin-bottom: 20px;

    &.left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 8px;

      .ant-input-affix-wrapper {
        width: 380px !important;

        input {
          height: 100%;
          font-size: 15px;
          padding-left: 10px;
        }
      }
      

      button {
        height: 100%;
        font-size: 14px;
        color: #676767;
      }
    }

    &.right {
      height: 40px;
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      button {
        height: 100%;
        font-size: 14px;
        background-color: #001529;
        color: #FFFFFF;
      }
    }
  }

  .ant-table {
    &-container {
      table > thead > tr:first-child th:first-child {
        border-start-start-radius: 0;
      }
    }

    &-thead {
      tr th {
        font-size: 13px;
        font-weight: normal !important;
        text-transform: uppercase;
        color: #787878;
      }
    }
  }
}