.list-filters {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px;
  margin-bottom: 20px;

  &-panel {
    width: 100%;

    button {
      background-color: #FCFCFC;
      border-color: #E5EAF0;
      color: #676767;
      height: 40px;

      &.primary,
      &.primary:hover {
        background-color: #001529;
        border-color: #001529;
        color: #FFFFFF !important;
      }

      &:hover {
        color: #262626 !important;
        border-color: #EEEEEE !important;
      }
    }

    &:first-child {
      .ant-input {
        width: 300px;
        font-size: 14px;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 15px;
    }
  }

  button.ant-btn-dangerous {
    &:hover {
      background-color: red !important;
      border-color: red !important;
      color: #FFFFFF !important;
    }
  }
}

.ant-table {
  &-container {
    table > thead > tr:first-child {
      th {
        font-size: 13px;
      }

      th:first-child {
        border-start-start-radius: 0 !important;
      }

      th:last-child {
        border-start-end-radius: 0 !important;
      }
    }

    table > tbody > tr:first-child {
      td:first-child {
        border-start-start-radius: 0 !important;
      }

      td:last-child {
        border-start-end-radius: 0 !important;
      }
    }
  }

  &-thead {
    tr > th {
      color: #555555 !important;
      background-color: #FCFCFC !important;
      font-weight: 700 !important;
      letter-spacing: 1.15px !important;
      padding: 12px 16px !important;
      border-top: solid 1px #F1F1F1 !important;
      border-bottom: solid 1px #F1F1F1 !important;

      &::before {
        display: none !important;
      }
    }
  }
}

.ant-pagination {
  padding: 10px 15px;
}