.ant-form {
  &-item {
    label {
      color: #7A7A7A !important;
      font-size: 13px !important;
      font-weight: 600;
      letter-spacing: 1.15px;
    }

    .ant-input {
      height: 40px;
      font-size: 13px;
    }
  }
}