html {
  height: 100%;
  background-color: #F7F8F9 !important;
}

// AntD Components
.ant-notification-notice {
  &-message {
    font-size: 14px !important;
  }

  &-description {
    font-size: 13px !important;
  }
}