.wrapper-auth {
  width: 100%;
  position: relative;
  // background-image: url('./../../assets/top-container-bg.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;

  header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #ffffff !important;
    border-bottom: solid 1px #eeeeee;
    height: 60px !important;
    line-height: 55px !important;
    align-items: center !important;

    img {
      height: auto;
      width: 28px;
      margin-right: 10px;
    }

    p {
      color: #17415f;
    }

    img,
    p {
      display: inline;
    }
  }

  main {
    padding-top: 65px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    zoom: 0.95;

    p.footer-label {
      color: #777777;
      font-size: 13px;
    }

    a {
      color: #0d2153;
      font-size: 13px;
      text-decoration: underline;
    }

    .ant-card {
      width: 350px;
      margin-top: -25vh;

      .title {
        color: #233a5e;
        font-size: 20px;
      }

      .btn-extra {
        height: 40px;
        color: #234267;
        background-color: #e0e4e8;
        font-weight: 700;
        font-size: 13px;
      }

      button[type='submit'] {
        width: 100%;
        background-color: #28258f !important;
      }

      .ant-form {
        &-item-label {
          label {
            font-size: 15px !important;
            color: #242424;
          }
        }

        &-item-control-input {
          .ant-input {
            font-size: 14px;
            padding-left: 10px;
          }
        }

        &-item-explain {
          font-size: 12px;
        }

        button {
          height: 40px;
        }
      }
    }
  }

  img.auth-svg {
    height: 260px;
    width: 450px;
    position: fixed !important;
    top: 50%;
    transform: translateY(-50%);
  }

  img.auth-svg.left {
    left: 0 !important;
  }

  img.auth-svg.right {
    right: 0 !important;
  }
}
